body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-weight: 400 !important;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #212529 !important;
}

.rs-content {
    background-color: #f4f6f9 !important;
}


#spam {
    background: repeating-linear-gradient(45deg, darkred, darkred 2px, #330000 3px, #330000 8px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 5px;
    margin: auto;
    width: 85%;
    cursor: not-allowed;
    height: 600px;
}

#spam > h1 {
    padding-top: 30px;
    font-size: 60px;
    font-family: Arial;
    text-align: center;
    padding-bottom: 20px;
    color: #fff3cd;
}

.spaam {
    color: red;
    text-decoration: none;
    cursor: not-allowed;
}

p {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    padding-bottom: 3%;
}

.inbox_chat {
    max-height: 800px;
    overflow-y: scroll;
    height: 800px;
}

.li_wh{
    margin-bottom: 10px !important;
}



